RAPIDAPI_KEY=3f5997095emshfe860cc2acf2d91p1e9ae6jsn71182436f3c5
RAPIDAPI_HOST=tiktok-downloader-download-tiktok-videos-without-watermark.p.rapidapi.com
RAPIDAPI_VIDEO_PATH=/vid/index
RAPIDAPI_PHOTO_PATH=/index
